<!doctype html>
<html>
  <head>
    <!-- build:css styles/options-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <h1>'Allo, 'Allo!</h1>

    <!-- build:js scripts/options-vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
  </body>
</html>
